# Ignorar a pasta de build
/build/

# Ignorar arquivos .jar
*.jar

# Ignorar arquivos .properties
*.properties

# Ignorar arquivos .class (compilados do Java)
*.class
build/built-jar.properties
build/classes/Controler/Tela.class
dist/PrototipoProjetoPOO.jar
*.class
*.properties
*.jar
nbproject/private/private.xml
save.dat
/nbproject/private/
